$color-blue: #3282b8;
$color-gray-font: #73777b;
$color-red: #D82148;
$color-green: #6EBF8B;;
$color-gray-bg: #EFEFEF;
$color-gray-border: #F7F5F2;

$radius-section: 10px;
$radius-form: 5px;
$padding-section: .5em;
